/* .content_about {} */

.about__cover {
    height: 338px;
    background-image: url('/img/pexels-matthias-zomer-325257.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -40px;
}

.about__article {
    max-width: 760px;
    margin: 0 auto;
}

.about__title {
    font-family: 'Roboto',Arial,sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #000000;
    text-align: center;
    margin: 0;
    word-wrap: break-word;
}

.about__text {
    font-family: 'Roboto',Arial,sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.55;
    color: #000000;
}