/* .content_about */

.content_about {
    /* background-color: #e0e0e0; */
    /* background-color: #e7e7e7; */
    background-color: #e6e6e6;
}

.about__cover {
    height: 338px;
    background-image: url('/img/pexels-matthias-zomer-325257.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -40px;
}

.about__article {
    max-width: 760px;
    margin: 0 auto;
}

.about__title {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 36px;
    color: #000000;
    text-align: center;
    margin: 0;
    word-wrap: break-word;
}

.about__text {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 20px;
    line-height: 1.55;
    color: #000000;
}

.about__partners {
    display: flex;
    justify-content: space-evenly;
}

.about__partner {
    
}

.about__partner-logo {
    height: 90px;
    width: 260px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.about__partner:nth-child(1)>.about__partner-logo {
    background-image: url('/img/partners/harufarm_logo.png');
}

.about__partner:nth-child(2)>.about__partner-logo {
    background-image: url('/img/partners/nitafarm_logo.svg');
}