/* .content_about */

.content_about {
    background-color: #e6e6e6;
}

.about__cover {
    height: 338px;
    background-image: url('/img/cover_cows.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -40px;
}

.about__article {
    max-width: 760px;
    margin: 0 auto;
}

.about__title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    color: #000000;
    text-align: center;
    margin: 0;
    word-wrap: break-word;
}

.about__text {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 20px;
    line-height: 1.55;
    color: #000000;
}

.partners {
    display: flex;
    justify-content: space-evenly;
}

.partners__item {
    height: 90px;
    width: 260px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.partners__item:nth-child(1) {
    background-image: url('/img/partners/harufarm_logo.png');
}

.partners__item:nth-child(2) {
    background-image: url('/img/partners/nitafarm_logo.svg');
}