body {
    margin: 0;
    background-color: #EDEFF0;
}

.content {
    margin: 98px auto 0px;
    max-width: 1200px;
    padding-bottom: 100px;
    min-height: calc(100vh - 98px - 139px);
    box-sizing: border-box;
    /* background-color: #FFFFFF; */
}

@media (max-width: 1200px) {
    .content {
        max-width: 980px;
    }
}

@media (max-width: 980px) {
    .content {
        max-width: 640px;
    }
}

@media (max-width: 640px) {
    .content {
        margin-top: 74px;
        padding-bottom: 50px;
        min-height: calc(100vh - 74px - 76px);
    }
}