body {
    margin: 0;
    background-color: #EDEFF0;
}

.content {
    margin: 98px auto 0px;
    min-height: calc(100vh - 98px - 139px);
    max-width: 1200px;
    padding-bottom: 100px;
    box-sizing: border-box;
}

@media (max-width: 1200px) {
    .content {
        max-width: 980px;
    }
}

@media (max-width: 980px) {
    .content {
        margin: 64px auto 0px;
        min-height: calc(100vh - 64px - 76px);
        max-width: 640px;
    }
}

@media (max-width: 640px) {
    .content {
        
        padding-bottom: 50px;
        
    }
}