.header {
    top: 0;
    position: fixed;
    width: 100%;
    height: 98px;
    background-color: #FFFFFF;
    z-index: 10;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgba(255, 255, 255, 0.9);
    border-top: 0px solid rgba(47, 46, 46, 1);
    border-bottom: 0px solid rgba(47, 46, 46, 1);
    box-shadow: inset 2px 2px 5px rgb(154 147 140 / 50%);
}

.header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: inherit;
    height: inherit;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0px 50px;
}

.header__logo {
    white-space: nowrap;
    margin-right: 50px;
    margin-bottom: 2px;
}

.header__logo-link {
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 600;
    color: #445F64;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 3px solid #445F64;
}

.header__nav {
    display: flex;
    justify-content: space-around;
    width: inherit;
}

.header__nav-link {
    font-size: 16px;
    line-height: 38px;
    font-family: 'Roboto';
    font-weight: 400;
    color: #9C9C9C;
    text-align: center;
    transition: color 0.4s ease 0s;
    display: inline-block;
    padding: 0 10px;
    text-decoration: none;
}

.header__nav-link:hover {
    color: #445F64;
}

.header__nav-link_active {
    color: #668F96;
}

@media (max-width: 1200px) {
    .header__wrap {
        max-width: 980px;
    }
}

@media (max-width: 980px) {
    .header__wrap {
        max-width: 640px;
    }
}

@media (max-width: 640px) {
    .header {
        height: 74px;
    }
    .header__wrap {
        max-width: 320px;
        padding: 0px;
    }
    .header__logo {
        margin-right: 0px;
        margin-left: 10px;
    }
    .header__logo-link {
        font-size: 16px;
        border-bottom: 2px solid #445F64;
    }
    .header__nav {
        justify-content: flex-end;
    }
    .header__nav-link {
        font-size: 14px;
        line-height: 32px;
        padding: 0px 8px;
    }
}