.header {
    top: 0;
    position: fixed;
    width: 100%;
    height: 98px;
    background-color: #FFFFFF;
    z-index: 10;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgba(255, 255, 255, 0.9);
    border-top: 0px solid rgba(47, 46, 46, 1);
    border-bottom: 0px solid rgba(47, 46, 46, 1);
    box-shadow: inset 2px 2px 5px rgb(154 147 140 / 50%);
}

.header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: inherit;
    height: inherit;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0px 50px;
}

.header__logo {
    white-space: nowrap;
    margin-right: 50px;
    margin-bottom: 2px;
}

.header__logo-link {
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 600;
    color: #445F64;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 3px solid #445F64;
}

.header__nav {
    display: flex;
    justify-content: space-around;
    width: inherit;
}

.header__nav-link {
    font-size: 16px;
    line-height: 38px;
    font-family: 'Roboto';
    font-weight: 400;
    color: #9C9C9C;
    text-align: center;
    transition: color 0.4s ease 0s;
    display: inline-block;
    padding: 0 10px;
    text-decoration: none;
}

.header__nav-link:hover {
    color: #445F64;
}

.header__nav-link_active {
    color: #668F96;
}

/* mobile menu */

.header__wrap_mobile {
    display: none;
    background-color: #445F64;
}

.header__burger-wrap {
    display: block;
}

.header__burger {
    display: block;
    margin: 18px;
    align-self: flex-end;
    width: 28px;
    height: 28px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 1003;
    /* background: #000; */
}

.header__burger span {
    display: block;
    position: absolute;
    width: 100%;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    height: 3px;
    background-color: #fff;
    top: 13px;
}

.header__burger span:nth-child(1) {
    width: 100%;
    top: 5px;
}

.header__burger span:nth-child(2) {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    top: 13px;
}

.header__burger span:nth-child(3) {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    top: 13px;
}

.header__burger span:nth-child(4) {
    width: 100%;
    top: 21px;
}

.header__burger_opened span:nth-child(1) {
    width: 0%;
    left: 50%;
    top: 13px;
}

.header__burger_opened span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 13px;
}

.header__burger_opened span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 13px;
}

.header__burger_opened span:nth-child(4) {
    width: 0%;
    left: 50%;
    top: 13px;
}

.header__logo_mobile {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-right: 64px;
    padding: 0;
}

.header__logo-link_mobile {
    letter-spacing: .03em;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
}

/* end mobile menu */

@media (max-width: 1200px) {
    .header__wrap {
        max-width: 980px;
    }
}

@media (max-width: 980px) {
    .header {
        height: initial;
        background-color: #ffffff;
        border: none;
        box-shadow: none;
    }
    .header__wrap_mobile {
        display: flex;
    }
    .header__wrap {
        display: none;
        max-width: none;
        transition: opacity 0.4s ease;
        position: fixed;
        padding: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .header__wrap_opened {
        display: block;
    }
    .header__logo {
        display: none;
    }
    .header__nav {
        flex-direction: column;
        justify-content: flex-start;
        height: calc(100vh - 64px);
        max-width: 250px;
        width: 100%;
        /* margin: 20px; */
        background-color: #fff;
        transform: translateX(-140%);
        opacity: 0;
        transition: all 0.4s ease;
        overflow: scroll;
    }
    .header__nav_opened {
        transform: translateX(0);
        opacity: 1;
    }
    .header__nav-link:first-child {
        margin-top: 18px;
    }
    .header__nav-link:last-child {
        margin-bottom: 18px;
    }
    .header__nav-link {
        color: #222222;
        font-weight: 400;
        margin: 10px 20px;
        font-size: 20px;
        padding: 0;
        /* text-transform: uppercase; */
        text-align: left;
        border-bottom: #aaa 1px solid;
    }
}

@media (max-width: 640px) {
}