/* .content_main {
    padding-bottom: 100px;
} */

/********* LIGHTBOX *********/

.lightbox {
    display: flex;
    max-width: 1200px;
    background-color: #80A6AD;
}

.lightbox__article {
    max-width: 380px;
    /* background-color: #80A6AD; */
}

.lightbox__title {
    margin: 0;
    margin-top: 32px;
    margin-left: 24px;
    font-size: 40px;
    font-family: 'Raleway';
    font-weight: 600;
    color: #405357;
    text-align: left;
    text-transform: uppercase;
}

.lightbox__text {
    margin-top: 100px;
    margin-left: 28px;
    letter-spacing: 2.2px;
    font-family: 'Raleway';
    font-size: 18px;
    line-height: 1.5em;
    color: #FFFFFF;
    text-align: left;
    width: 339px;
}

.lightbox__line {
    width: 305px;
    margin-top: 8px;
    margin-left: 26px;
    border-bottom: 3px solid rgba(96, 125, 130, 1);
}

.lightbox__image {
    width: 100%;
    max-width: 820px;
    height: 338px;
    background: url('/img/cover_horse.jpg');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

/********* CONTROL *********/

.control {
    display: flex;
    margin-top: 40px;
}

.control__filter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 70%;
    gap: 12px 12px;
}

.control__sorting {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
}

.control__divider {
    width: 1px;
    background-color: #b3b3b3;
    margin: 6px 12px;
}

.control__button {
    width: 100%;
    padding: 0 10px;
    overflow: hidden;
    background-color: #e0e0e0;
    border: none;
    outline: none;
    font-family: 'Roboto';
    font-size: 14px;
    color: #668F96;
    text-align: center;
    /* transition: color 0.4s ease 0s; */
}

.control__filter>.control__button {
    line-height: 16px;
    height: 54px;
}

.control__sorting>.control__button {
    height: 36px;
}

.control__button:hover {
    background-color: #80A6AD;
    color: #FFF;
    cursor: pointer;
}

.control__button:active, .control__button_active {
    background-color: #445F64;
}

.control__button_active {
    color: white;
    text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.control__button:active {
    box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/********* PRODUCTS *********/

.products {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
}

.products__item {
    display: block;
    background-color: #e0e0e0;
    padding: 5px;
    text-decoration: none;
}

.products__item:hover {
    background-color: rgba(128, 166, 173, 1);
}

.products__item:hover>.products__item-name {
    color: #FFFFFF;
}

.products__item:hover>.products__item-category {
    color: #FFFFFF;
}

.products__item-name {
    font-family: 'Raleway';
    font-size: 22px;
    font-weight: 600;
    color: #445F64;
    padding-top: 7px;
    text-align: center;
}

.products__item-category {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    padding-top: 5px;
    text-align: center;
    color: #0F0F0F;
}

.products__item-image {
    margin: 10px;
    height: 168px;
    background-image: url('/img/products/bottle2-edit.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.products__item:nth-child(2)>.products__item-image {
    background-image: url('/img/products/pack2-edit.png');
}

/********* RESOLUTION *********/

@media (max-width: 1200px) {
    .lightbox {
        max-width: 980px;
    }
    .lightbox__image {
        max-width: 600px;
    }
    .control {
        margin-top: 30px;
    }
    .products {
        margin-top: 30px;
        gap: 30px;
    }
    .products__item {
        padding: 2px;
    }
    .products__item-name {
        font-size: 20px;
    }
    .products__item-image {
        margin: 7px;
        height: 135px;
    }
}

@media (max-width: 980px) {
    .lightbox {
        max-width: 640px;
    }
    .lightbox__title {
        font-size: 32px;
    }
    .lightbox__text {
        font-size: initial;
        margin-top: 60px;
        width: initial;
    }
    .lightbox__line {
        width: 290px;
    }
    .lightbox__image {
        max-width: 300px;
        height: 270px;
    }
    .control {
        flex-direction: column;
    }
    .control__filter {
        width: 100%;
    }
    .control__divider {
        width: 70%;
        height: 1px;
        margin: 12px auto;
        box-sizing: border-box;
    }
    .control__sorting {
        flex-direction: row;
        width: 100%;
    }
    .control__filter>.control__button {
        height: 50px;
    }
    .control__sorting>.control__button {
        margin: 0px 14px;
    }
    .control__sorting>.control__button:first-child {
        margin-left: 0px;
    }
    .control__sorting>.control__button:last-child {
        margin-right: 0px;
    }
    .products {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .products__item {
        padding: 1px;
    }
    .products__item-image {
        height: 115px;
    }
}

@media (max-width: 640px) {
    .lightbox {
        flex-direction: column;
        justify-content: space-between;
    }
    .lightbox__article {
        max-width: unset;
    }
    .lightbox__text {
        margin-top: 40px;
    }
    .lightbox__line {
        width: 264px;
        margin-bottom: 40px;
    }
    .lightbox__image {
        max-width: unset;
        height: 200px;
    }
    .control {
        max-width: 320px;
        margin: 30px auto 0px auto;
    }
    .control__filter {
        grid-template-columns: 1fr 1fr;
        gap: 6px 6px;
    }
    .control__sorting {
        flex-direction: column;
        margin: 0 auto;
    }
    .control__sorting>.control__button {
        margin: 3px 0px;
    }
    .control__sorting>.control__button:first-child {
        margin-top: 0px;
    }
    .control__sorting>.control__button:last-child {
        margin-bottom: 0px;
    }
    .products {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        max-width: 320px;
        margin: 30px auto 0px auto;
    }
    .products__item-name {
        font-size: 18px;
        padding-top: 4px;
    }
    .products__item-category {
        font-size: 12px;
        line-height: 12px;
        padding-top: 2px;
    }
    .products__item-image {
        margin: 2px;
        height: 108px;
    }
}