/* .content_main {
    padding-bottom: 100px;
} */

/* lightbox */

.lightbox {
    display: flex;
    max-width: 980px;
}

.lightbox__article {
    max-width: 380px;
    background-color: rgba(128, 166, 173, 1);
}

.lightbox__title {
    margin: 0;
    margin-top: 32px;
    margin-left: 24px;
    font-size: 40px;
    font-family: 'Raleway';
    /* font-weight: 500; */
    font-weight: 600;
    color: #405357;
    text-align: left;
    text-transform: uppercase;
}

.lightbox__text {
    margin-top: 100px;
    margin-left: 28px;
    letter-spacing: 2.2px;
    font-family: 'Raleway';
    font-size: 18px;
    line-height: 1.5em;
    color: #FFFFFF;
    text-align: left;
    width: 339px;
}

.lightbox__line {
    width: 305px;
    margin-top: 8px;
    margin-left: 26px;
    border-bottom: 3px solid rgba(96, 125, 130, 1);
}

.lightbox__image {
    width: 600px;
    height: 338px;
    background: url('/img/cover_horse.jpg');
    background-size: cover;
}

/* control */

.control {
    display: flex;
    margin-top: 40px;
}

.control__filter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 70%;
    gap: 12px 12px;
}

.control__sorting {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
}

.control__divider {
    width: 1px;
    background-color: #b3b3b3;
    margin: 6px 12px;
}

.control__button {
    width: 100%;
    padding: 0 10px;
    overflow: hidden;
    background-color: #e0e0e0;
    border: none;
    outline: none;
    font-family: 'Roboto';
    font-size: 15px;
    color: #668F96;
    text-align: center;
    /* transition: color 0.4s ease 0s; */
}

.control__filter>.control__button {
    line-height: 20px;
    height: 54px;
}

.control__sorting>.control__button {
    line-height: 20px;
    height: 36px;
}

.control__button:hover {
    background-color: #80A6AD;
    color: #FFF;
    cursor: pointer;
}

.control__button:active, .control__button_active {
    background-color: #445F64;
}

.control__button_active {
    color: white;
    text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.control__button:active {
    box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* main__products */

.products {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.products__item {
    background-color: #e0e0e0;
    padding: 10px;
    cursor: pointer;
}

.products__item:hover {
    background-color: rgba(128, 166, 173, 1);
    color: #FFFFFF;
}

.products__item:hover>.products__item-name {
    color: #FFFFFF;
}

.products__item-name {
    font-family: 'Raleway';
    font-size: 24px;
    font-weight: 600;
    /* color: white; */
    /* text-shadow: 1px 1px 2px black; */
    color: #445F64;
    /* color: #FFFFFF;
    background-color: #445F64; */
    /* padding-top: 10px;
    padding-left: 20px; */
    padding-top: 10px;
    text-align: center;
}

.products__item-category {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    /* color: #FFFFFF;
    background-color: #445F64; */
    /* padding-top: 10px;
    padding-left: 20px; */
    padding-top: 10px;
    text-align: center;
}

.products__item-image {
    margin: 10px;
    height: 180px;
    background-image: url('/img/products/bottle2-edit.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.products__item:nth-child(2)>.products__item-image{
    background-image: url('/img/products/pack2-edit.png');
}