.breadcrumbs {
    display: flex;
    padding: 50px;
}

.breadcrumbs__text {
    font-family: 'Raleway';
    font-size: 16px;
}

.order {
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
    padding-top: 0px;
}

.order__product-image {
    background-image: url('/img/products/bottle2-edit.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 50%;
    margin-right: 50px;
}

.form_order {
    width: 50%;
    min-width: 300px;
}

.form_order .form__input {
    margin-bottom: 10px;
}

.form_order .form__button {
    width: 100%;
}

.form_order .form__button:active {
    margin-top: 0;
}

.order__product-name {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 24px;
    color: #405357;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 20px;
}

/********** PRODUCT-DETAILS **********/

.product-details {
    display: flex;
    padding: 50px;
    padding-top: 0px;
}

.product-details__l-container, .product-details__r-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.product-details__l-container {
    margin-right: 50px;
}

.product-details__item {
    padding-bottom: 24px;
    border-bottom: 1px solid #9C9C9C;
}

.product-details__item:last-child {
    border-bottom: 0px solid #9C9C9C;
}

.product-details__title {
    font-family: 'Raleway';
    font-size: 20px;
    font-weight: 500;
    color: #2F2F2F;
    margin-top: 24px;
    margin-bottom: 24px;
    text-transform: uppercase;
}

.product-details__text {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 300;
    color: #0F0F0F;
}

@media (max-width: 980px) {
    .product-details {
        flex-direction: column;
    }
    .product-details__l-container, .product-details__r-container {
        width: 100%;
    }
    .product-details__l-container>.product-details__item:last-child {
        border-bottom: 1px solid #9C9C9C;
    }
    .product-details__r-container>.product-details__item:last-child {
        border-bottom: 0px solid #9C9C9C;
    }
}

@media (max-width: 640px) {
    .breadcrumbs {
        padding: 20px;
        justify-content: center;
    }
    .order {
        flex-direction: column;
        padding: 20px;
        padding-top: 0px;
    }
    .order__product-image {
        height: 180px;
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0;
    }
    .form_order {
        min-width: initial;
        width: 100%;
    }
    .form_order .form__input {
        font-size: 16px;
    }
    .product-details {
        flex-direction: column;
        padding: 20px;
        padding-top: 0px;
    }
}